<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.venti.mybatis.dao.UserMapper">
    <!-- 根据用户ID查询用户信息 -->
    <select id="selectUser" parameterType="int" resultType="org.venti.mybatis.entity.User">
        SELECT id, name, age FROM user WHERE id = #{id}
    </select>
    <insert id="insertUser" parameterType="org.venti.mybatis.entity.User">
        INSERT INTO user (name, age) values (#{name}, #{age})
    </insert>
</mapper>